.input {
  border: 1px black solid;
}

.errorInput {
  border: 1px solid crimson;
}

.someError {
  color: crimson;
}

.formSummaryError {
  border: 1px solid crimson;
  margin: 5px;
  padding: 10px;
  color: crimson;
  width: 250px;
  font-weight: 600;
}
