.nav {
  grid-area: n;
  background-color: #c6cdda;
  padding: 20px;
}

.item {
  color: #fafafa;
  font-size: 25px;
  text-decoration: none;
}

/* .item a {
  color: #fafafa;
  font-size: 25px;
  text-decoration: none;
}

.item a.active {
  color: #4e5560;
} */

.item.active {
  color: #4e5560;
}
