.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "h h "
    "n c";
  grid-auto-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: #989aad;
}

.header img {
  width: 68px;
}

.nav {
  grid-area: n;
  background-color: #c6cdda;
}

.content {
  grid-area: c;
  background-color: #b2b7c2a2;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #b2b7c2a2;
}
